.back-btn{
    margin: 20px;
}
.notes-box{
    width: 100%;
    border-style: ridge;
    border-radius: 5px;
    height: 80px;
    text-align: justify;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* .container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

} */
.button{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 3%;
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    
}
.file-links{
    text-decoration: none;
    font-size: 17px;
    /* margin: 30px; */
}
.pdf-icon{
    width: 50px;
    height: auto;
    margin: auto;
    margin-top: 13px;

}
.dwnld-icon{
    width: 50px;
    margin-top: 17px;
}
.dwnld-icon:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}